:root { 
--red_901:#b60635; 
--lime_600:#d7ad35; 
--red_900:#aa0430; 
--green_A700_cc:#1ed760cc; 
--gray_200:#eaeaea; 
--black_900_3f:#0000003f; 
--gray_201:#e8e8e8; 
--green_A700:#1ed760; 
--black_900_cc:#000000cc; 
--black_900:#000000; 
--indigo_900:#023078; 
--cyan_900:#036168; 
--white_A700:#ffffff; 
}